/* Styling for buttons */
.btn-outline-light {
    background-color: #374151;
    /* Dark background for buttons */
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.btn-outline-light:hover {
    background-color: #4b5563;
    /* Slightly lighter color on hover */
}

.bi {
    margin-right: 15px;
    font-size: 1.5rem;
}

/* Adjusting dark mode and light mode colors */
.bg-body {
    background-color: #1F2937;
}

.custom-width {
    width: 100%;
    /* Default for smaller screens */
}

@media (min-width: 992px) {
    .custom-width {
        width: 50%;
        /* 50% width for desktop */
    }
}

.custom-with-button-quiz {
    width: 300px;
}

@media (min-width: 992px) {
    .custom-with-button-quiz {
        width: 400px;
    }
}

.btn-outline-light:hover {
    background-color: #ffc107 !important;
}